<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705272056639-08h5ru153m913ssscqvlc37rfsrevt4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705272056639-08h5ru153m913ssscqvlc37rfsrevt4c</string>
	<key>API_KEY</key>
	<string>AIzaSyAHYOBIh1QfCnjSqnxn6zaebw6ymTYx954</string>
	<key>GCM_SENDER_ID</key>
	<string>705272056639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lenscalende</string>
	<key>PROJECT_ID</key>
	<string>lenscalender</string>
	<key>STORAGE_BUCKET</key>
	<string>lenscalender.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705272056639:ios:f26b55ea653076065b218a</string>
</dict>
</plist>